.header{
    font-size: 50px;
    text-align: center;
    background-color: black;
    color: white;
    height: 80px;
    width: 100%;
}

.album{
    font-size: 35px;
    height: 75px;
    
    text-align: center;
}

.left{
    float: left;
}

.column{
    width: 33.3%;
}

.row{
    background-color: peachpuff;
    width: 100%;
}

.row:after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 350px;
    height: 350px;
    background-color: peachpuff;
    margin-left: 70px; 
}

.body{
    background-color: peachpuff;
}

.div2{
    height: 150px;
    text-align: center;
    padding-top: 25pt;
    font-size: 35px;
}

.header2{
    font-size: 50px;
    text-align: center;
    background-color: orangered;
    color: white;
    height: 80px;
    width: 100%;
}