.header{
    font-size: 50px;
    text-align: center;
    background-color: black;
    color: white;
    height: 80px;
    width: 100%;
}

.album{
    font-size: 35px;
    height: 75px;
    
    text-align: center;
}

#thankyoucolor{
    background-color: bisque;
}

.left{
    float: left;
}

.column{
    width: 33.3%;
}

.row{
    background-color: peachpuff;
    width: 100%;
}

.row:after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 350px;
    height: 350px;
    background-color: peachpuff;
    margin-left: 70px; 
}

.body{
    background-color: peachpuff;
}

.div2{
    height: 150px;
    text-align: center;
    padding-top: 25pt;
    font-size: 35px;
}

.header2{
    font-size: 50px;
    text-align: center;
    background-color: orangered;
    color: white;
    height: 80px;
    width: 100%;
}

.buttons{
    margin-left: 46%
}

.buttons2{
    margin-left: 15%;
}

.buttons3{
    margin-left: 80%;
}

.navbar {
  width: 100%;
  display: flex;
  background-color: #555;
  overflow: auto;
  text-align: center
}

/* Navigation links */
.navbar a {
  flex: 1;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #4CAF50;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}