.header{
    text-align: center;
    font-size: 48px;
    background-color: black;
    color: white;
    width: 1350px;
    height: 75px;
}

.images{
    height: 350px;
    width: 350px;
    padding: 20pt;
}

.img2{
   flex: 50%;
   float: centers;
   width: 350px;
   height: 350px;
   padding: 20pt;
  } 

  .div{
    height: 350px;
    width: 1050px;
}
